<html>

    <head><title>Cadastro de usuario</title></head>
	    <body>
	        <h1>Bricks</h1>
		<br/><br/><br/><br/>
		<hr />
		<h3>Cadastro:<h3>
		<form action="/cadastro_enviado" method="POST">
		<div>
		<h4>Nome: </h4>
		<label for="name"></label>
		<input type="text" name="nome" />
		</div>
		
		<div>
		<h4>Sobrenome: </h4>
		<label for="name"></label>
		<input type="text" name="sobrenome" />
		</div>

		<div>
		<h4>Usuario: </h4>
		<label for="name"></label>
		<input type="text" name="usuario" />
		</div>

		<div>
		<h4>Senha: </h4>
		<label for="name"></label>
		<input type="password" name="senha" />
		</div>

		<div>
		<h4>Email: </h4>
		<label for="name"></label>
		<input type="text" name="email" />
		</div>

		<div>
		<h4>Cidade: </h4>
		<label for="name"></label>
		<input type="text" name="cidade" />
		</div>

		<div>
		<h4>Estado: </h4>
		<label for="name"></label>
		<input type="text" name="estado" />
		</div>
                <div>
		<br/>
		<button type="submit">Confirmar</button>
		</div>
		</form>

            </body>		    

</html>
